<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.reserva.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <style>
        h3 {
            color: black;
        }
    </style>
</head>
<body>

<h3 th:text="#{email.reserva.saludo(${user.nombre})}"></h3>

<p>
    <span
        th:utext="#{email.reserva.text1(${reserva.alumno.nombre + ' ' + reserva.alumno.apellidos}, ${tiempoRespuesta}, ${baseUrl})}"></span>
</p>

<p>
    <span th:text="#{email.despedida}"></span>
    <br/>
    <em th:text="#{email.signature}"></em>
</p>

</body>
</html>
