<div class="main">
    <h1>{{'profesor.busqueda' | translate}}</h1>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group" >
                <select-form id="idiomas" style="font-size: 16px; height: 39px;" model="ctrl.filter.idioma" label="profesor.ensena"
                             options="$resolve.idiomas" display="nombre" empty="profesor.idioma" 
                             ></select-form>
            </div>
        </div>
        <!--<div class="col-sm-2">-->
        <!--<div class="form-group">-->
        <!--<select-form id="niveles" model="ctrl.filter.nivel" label="profesor.nivel"-->
        <!--options="$resolve.niveles" display="nombre" empty="multiselect.cualquiera"></select-form>-->
        <!--</div>-->
        <!--</div>-->
        <div class="col-sm-3">
            <div class="form-group">
                <enum-select id="dia" label="profesor.dia" model="ctrl.filter.dia"
                             options="$resolve.dias" base="enum.dia" empty="multiselect.cualquiera"
                             required="false"></enum-select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <enum-select id="horadia" label="profesor.horadia" model="ctrl.filter.horadia"
                             options="$resolve.horadias" base="enum.horadia" empty="multiselect.cualquiera"
                             required="false"></enum-select>
            </div>
        </div>
        <!--<div class="col-sm-3">-->
        <!--<div class="form-group">-->
        <!--<multi-select label="profesor.capacidades" id="capacidades" options="$resolve.capacidades"-->
        <!--model="ctrl.filter.capacidades" display="nombre" empty="multiselect.cualquiera"-->
        <!--template="'{{option.nombre}}'"></multi-select>-->
        <!--</div>-->
        <!--</div>-->
        <div class="col-sm-3">
            <div class="form-group">
                <multi-select label="profesor.de" id="paises" options="$resolve.paises"
                              model="ctrl.filter.paises" display="nombre" empty="profesor.pais"
                              template="'{{option.nombre}}'">
                </multi-select>
            </div>
        </div>
    </div>

    <!--<div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <enum-select id="disponibilidad" label="profesor.disponibilidad" model="ctrl.filter.disponibilidad"
                             options="$resolve.disponibilidades" base="enum.disponibilidad"
                             required="true"></enum-select>
            </div>
        </div>
    </div>-->

    <div class="empty text-center" ng-if="(!ctrl.profesores || ctrl.profesores.length==0) && !ctrl.loading">
        {{'profesor.empty' | translate}}
    </div>

    <div class="profesores">
        <div infinite-scroll='ctrl.cargar()' infinite-scroll-distance='0'
             infinite-scroll-disabled='ctrl.loading || ctrl.loaded'>
            <div ng-repeat="profesor in ctrl.profesores track by profesor.id">
                <a ng-click="ctrl.abrir(profesor.id)">
                    <profesor profesor="profesor"></profesor>
                </a>
            </div>
        </div>

        <loading is-loading="ctrl.loading" class="center-block"></loading>
    </div>
</div>
