.gradle
.idea
/build
dist
.settings
.classpath
.project

log/
out/

tmp
bower_components
node_modules
npm-debug.log

/src/main/webapp/client/menu/*.json

src/main/webapp/client/assets/css
!src/main/webapp/client/assets/fonts
src/main/webapp/client/assets/fonts/*
!src/main/webapp/client/assets/fonts/static

/src/main/webapp/upload/
/src/main/webapp/client/app/app.constants.js
/bin/

/yarn.lock
*.iml
