<form name="ctrl.form" ng-submit="ctrl.save()" role="form" autocomplete="off" novalidate>

    <div class="form-group">
        <label-form key="admin.changepassword.oldpassword" for="password" required="true"></label-form>
        <input class="form-control" id="password" ng-maxlength="50" ng-minlength="1"
               ng-model="ctrl.form.password" required type="password"/>
    </div>

    <div class="form-group">
        <label-form key="admin.changepassword.newpassword" for="newPassword" required="true"></label-form>
        <input class="form-control" id="newPassword" ng-maxlength="50" ng-minlength="1"
               ng-model="ctrl.form.newpassword" required type="password"/>
        <password-strength-bar password-to-check="ctrl.form.newpassword"></password-strength-bar>
    </div>

    <div class="form-group">
        <label-form key="admin.admin.form.confirmpassword" for="confirmPassword" required="true"></label-form>
        <input class="form-control" id="confirmPassword" ng-maxlength="50" ng-minlength="1"
               ng-model="ctrl.confirmPassword" required="required" type="password"/>
    </div>

    <!--Botones-->
    <buttons can-save="true" mode="'edit'"></buttons>

</form>
