/**/
.imagen {
    display: inline-block;
    background: #f5f5f5;
    width: 180px;
    height: 180px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.imagen .imagen-wrap {
    display: inline-flex;
    height: 100%;
}

.imagen.imagen-profile img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.upload .imagen:last-child {
    width: 100%;
    border: none;
    height: inherit;
    background: none;
}

.imagen img, .imagen .texto {
    max-width: 180px;
    max-height: 180px;
    border: none;
    float: none ! important;
    vertical-align: middle;
    margin: auto;
    object-fit: contain;
}

.imagen .close {
    font-size: 24px;
    position: absolute;
    z-index: 100;
    top: 4px;
    right: 2px;
    opacity: 0.6;
}

.imagen .close.edit {
    right: 30px;
}

.imagen .principal {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 25px;
}

.enxe-boton-elegir {
    margin-top: 9px;
}

.enxe-boton-elegir .enxe-spinner {
    margin-top: 8px;
    margin-left: 10px;
}

.upload label {
    clear: both;
    width: 100%;
}

.oculto {
    display: none !important;
}
