<div class="row">
    <!--Imagen de perfil-->
    <div class="col-sm-4 form-group">
        <imagen-perfil ng-model="ctrl.item.imagen"
                       ruta-carpeta-imagen="upload/usuarios/{{ctrl.item.id}}/perfil"
                       on-remove-image="ctrl.onRemoveImage()"></imagen-perfil>
    </div>
</div>

<div class="row">
    <!--Nombre-->
    <div class="col-sm-4">
        <div class="form-group">
            <label-form key="admin.alumno.form.nombre" for="nombre" required="true"></label-form>
            <input class="form-control" id="nombre" type="text" ng-model="ctrl.item.nombre" required>
        </div>
    </div>

    <!--Apellidos-->
    <div class="col-sm-5">
        <div class="form-group">
            <label-form key="admin.alumno.form.apellidos" for="apellidos" required="true"></label-form>
            <input class="form-control" id="apellidos" type="text" ng-model="ctrl.item.apellidos" required>
        </div>
    </div>

    <!--Créditos-->
    <div class="col-sm-3">
        <div class="form-group">
            <label-form key="admin.alumno.form.creditosdisponibles" for="creditos"></label-form>
            <input class="form-control" id="creditos" type="number"
                   ng-model="ctrl.item.creditosDisponibles" disabled>
        </div>
    </div>
</div>

<div class="row">
    <!--Email-->
    <div class="col-sm-4">
        <div class="form-group">
            <label-form key="admin.alumno.form.email" for="email" required="true"></label-form>
            <input class="form-control" id="email" type="email" ng-model="ctrl.item.email" required disabled>
        </div>
    </div>

    <!--Skype-->
    <div class="col-sm-5">
        <div class="form-group">
            <label-form key="admin.alumno.form.skype" for="skype" required="true"></label-form>
            <input class="form-control" id="skype" type="text" ng-model="ctrl.item.skype" required>
        </div>
    </div>

    <!--Teléfono móvil-->
    <div class="col-sm-3">
        <div class="form-group">
            <label-form key="admin.empresa.form.telefonomovil" for="telefonoMovil"
                        required="true"></label-form>
            <input class="form-control" id="telefonoMovil" type="text" ng-model="ctrl.item.telefonoMovil" required
                   maxlength="20">
        </div>
    </div>
</div>

<div class="row">
    <!--Observaciones-->
    <div class="col-sm-12">
        <div class="form-group">
            <text-area label="admin.empresa.form.observaciones" model="ctrl.item.observaciones"
                       id="observaciones"></text-area>
        </div>
    </div>
</div>
