/* CSS de librerías que no se aplican porque en algún momento gulp mete un ; antes de la primera clase del archivo. */

.ng-table th {
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

tags-input {
    display: block;
}

.ta-hidden-input {
    width: 1px;
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -10000px;
    left: -10000px;
    opacity: 0;
    overflow: hidden;
}

ui-cropper {
   width: 100%;
   display: block
}

.datetimepicker-wrapper {
    vertical-align: middle;
    display: inline-block;
}
