$bootstrap-sass-asset-helper: false !default;
// Paper 3.3.7
// Variables. Se puede sobreescribir cualquier variable existente en el archivo _variables.scss de Bootstrap.
// --------------------------------------------------

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

//2196F3
//832f3c
//962c36

$brand-primary: #0088C7 ;
$brand-success: #4CAF50;
$brand-info: #5bc0de;
$brand-warning: #ff9800;
$brand-danger: #e51c23;
