<form ng-submit="ctrl.confirm(ctrl.item)">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="ctrl.dismiss()">&times;</button>
        <h4 class="modal-title" translate="{{ctrl.params.title}}"></h4>
    </div>

    <div class="modal-body">
        <alert modal="true"></alert>

        <p translate="{{ctrl.params.body}}"
           translate-values="{id: '{{::ctrl.item[ctrl.params.property]}}'}"></p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="ctrl.dismiss()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            translate="comun.cancelar"></span>
        </button>
        <button type="submit" ng-disabled="ctrl.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok"></span>&nbsp;<span
            translate="comun.aceptar"></span>
        </button>
    </div>
</form>
