<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 translate="admin.register.title">Registration</h1>
        <form name="form" ng-submit="ctrl.register()" role="form" autocomplete="off" novalidate>
            <div class="form-group">
                <label-form key="admin.admin.form.username" for="login" required="true"></label-form>
                <input class="form-control" id="login" ng-maxlength="50" ng-minlength="1"
                       ng-model="ctrl.registerAccount.login" ng-pattern="/^[a-z0-9]*$/"
                       ng-pattern-err-type="loginPattern" required type="text"/>
            </div>

            <div class="form-group">
                <label-form key="admin.admin.form.password" for="password" required="true"></label-form>
                <input class="form-control" id="password" ng-maxlength="50" ng-minlength="1"
                       ng-model="ctrl.registerAccount.password" required type="password"/>
                <password-strength-bar password-to-check="ctrl.registerAccount.password"></password-strength-bar>
            </div>

            <div class="form-group">
                <label-form key="admin.changepassword.confirmpassword" for="confirmPassword"
                            required="true"></label-form>
                <input class="form-control" id="confirmPassword" ng-maxlength="50" ng-minlength="1"
                       same-as="ctrl.registerAccount.password" same-as-err-type="sameAs2"
                       ng-model-options="{updateOn: 'blur'}" ng-model="ctrl.confirmPassword" required type="password"/>
            </div>

            <!--Botones-->
            <buttons can-save="true" mode="'create'"></buttons>

        </form>
    </div>
</div>

